@model IEnumerable<HighSchoolApplication.API.Models.RolesModel>

@{
    ViewData["Title"] = "Rolet";
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3>Lista e roleve</h3>
            <div class="box-tools pull-right">
                <a asp-action="Create" class="btn btn-primary">Shto rol te ri</a>
            </div>
        </div>
        <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Roli
                        </th>
                        <th>
                            Krijuar
                        </th>
                        <th>
                            Modifikuar
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedAt)
                            </td>
                            <td>
                                <a asp-action="Details" class="btn btn-success " asp-route-id="@item.Id">Details</a> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
</section>

