@model HighSchoolApplication.API.Models.DocumentsModel

<h4>DocumentsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDocument">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label">Lenda</label>
                <input asp-for="SubjectId" class="form-control" />
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentCategoryId" class="control-label"></label>
                <input asp-for="DocumentCategoryId" class="form-control" />
                <span asp-validation-for="DocumentCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Shto" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

