@model HighSchoolApplication.API.Models.DocumentsModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="AddDocument" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="User" class="control-label">Studenti</label>
                            @Html.DropDownList("UsersList", "Zgjidhni perdoruesin")
                            <span asp-validation-for="User" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Subject" class="control-label">Lenda</label>
                            @Html.DropDownList("SubjectsList", "Zgjidhni lenden")
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DocumentCategory" class="control-label">Kategoria e dokumentit</label>
                            @Html.DropDownList("DocumentCategories", "Zgjidhni kategorine")
                            <span asp-validation-for="DocumentCategory" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DocumentUrl" class="control-label">Kliko butonin</label>
                            <input asp-for="DocumentUrl" multiple type="file" name="file" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Shto" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

