@model IEnumerable<HighSchoolApplication.API.Models.DocumentsModel>
@{
    ViewData["Title"] = "TeacherPortofolioDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="box box-primary">
        <div class="box-header">
            <h3>Portofoli i mesuesit</h3>
        </div>
        <div class="box-body">
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Id % 2 == 0)
                        {
                            <tr></tr>
                            <tr></tr>
                            <br />
                        }

                    <td align="center">
                        <a href="@Url.Action("GetDocumentById", "Documents", new { id = item.Id })">
                            <img src="~/dist/img/file-image.png" width="150" height="150" />
                        </a><br />
                        @Html.DisplayFor(modelItem => item.DocumentDescription)
                    </td>
                    <td></td>

                }
                    </tbody>
                </table>
            </div>
    </div>
</section>

