@model HighSchoolApplication.Web.ViewModels.FinancesTabViewModel
@{
    ViewData["Title"] = "Financat";
}
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <div class="box-tools pull-right">
                <a asp-action="Create" class="btn btn-primary">Shto te ardhur/shpenzim</a>
            </div>
        </div>
        <div class="box-body">
            <ul class="nav nav-tabs">
                <li role="presentation" class="@(Model.ActiveTab == HighSchoolApplication.Web.ViewModels.Tab.Incomings ? "active" : string.Empty)"><a asp-route-tabname="Incomings" asp-action="SwitchToTabs">Te ardhura</a></li>
                <li role="presentation" class="@(Model.ActiveTab == HighSchoolApplication.Web.ViewModels.Tab.Expenses ? "active" : string.Empty)"><a asp-route-tabname="Expenses" asp-action="SwitchToTabs">Shpenzime</a></li>
            </ul>
            @switch (Model.ActiveTab)
            {
                case HighSchoolApplication.Web.ViewModels.Tab.Incomings:
                    @await Component.InvokeAsync("Incomings");
                    break;
                case HighSchoolApplication.Web.ViewModels.Tab.Expenses:
                    @await Component.InvokeAsync("Expenses");
                    break;
                default:
                    break;
            }

        </div>
    </div>
</section>
